@font-face {
    font-family: 'Vollkorn-semibold';
    src: url('../fonts/Vollkorn-SemiBold.woff2') format('woff2'),
        url('../fonts/Vollkorn-SemiBold.woff2') format('woff');
    font-weight: 600;
    /* font-style: normal; */
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans-regular';
    src: url('../fonts/PublicSans-Regular.woff2') format('woff2'),
        url('../fonts/PublicSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans-semibold';
    src: url('../fonts/PublicSans-SemiBold.woff2') format('woff2'),
        url('../fonts/PublicSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
.primary-font-semibold
{
    font-family: 'Vollkorn-semibold';
}
.secondary-font-semibold
{
    font-family: 'Public Sans-semibold';
}
.secondary-font-regular
{
    font-family: 'Public Sans-regular';
}
.font-16
{
font-size: 16px;
}
.font-18
{
font-size: 18px;
}
.font-14
{
font-size: 14px;
}
.m-0
{
margin: 0;
}
.article-card
{
    border: 1px solid #F4F4F4;
    border-radius: 5px;
    box-shadow: 5px 10px 15px #f5f5f5;
    height: 170px;
    cursor: pointer;
}
.theme-primary-color
{
    color: #0E747C;
}
.clearfix:after {

  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body {
	margin: 1rem;
	background-color: honeydew;
	font-family: Helvetica, Arial, sans-serif;
	color: #888;
}

.dotless {
	list-style: none;
}

.page-title {
	text-align: center;
	margin: 2rem;
}

.dropdown-container {
	
	margin: 1rem auto;
	border: 1px solid #DEDEDE;
	background-color: white;
	
	overflow: hidden;
    border-radius: 4px;
}

.dropdown-container {
	background-color: white;
}

.dropdown-container header {
	cursor: pointer;
	font-size: 0.6rem;
	padding: 8px 16px;
	background-color: white;
	color: #000;
	transition: background-color 350ms ease-in-out;
}

.dropdown-container.open header {
	background-color: white;
    
}

.dropdown-container h1 {
	float: left;
    margin: 0;
    color:#294B67;
}

.dropdown-container .expand {
	float: right;
	transform: rotate(0deg);
	font-size: 1.8em;
	transition: transform 350ms ease-in-out;
    margin: 0;
}

.dropdown-container.open .expand{
	transform: rotate(180deg);
}
.dropdown-container article {
	max-height: 0px;
	overflow: hidden;
	line-height: 1.6; 
	transition: max-height 350ms ease-in-out;
}

/* padding can't be on article element because it won't collapse properly, add wrapper around contents */
.dropdown-container .article-inner {
	padding: 16px 0rem;
    border-top: 1px solid #E2E2E2;
    margin-left: 16px;
    margin-right: 16px;
}


