.add-btn{
    background-color: #441BC3;
}
.custom-form
{
    height: 44px;
    border-color: #dbdbdb;
}
@media (max-width: 600px)
{
.custom-bg-danger
    {
        background-color:yellow;
    }
}
