@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-semibold';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Roboto';
  color: #050505;
}
.custom-container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
a {
  color: #667ABB;
}
@media (min-width: 1800px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container,
  .custom-container {
    max-width: 1720px;
  }
}
.grey-bg {
  background-color: #e8e8e8;
}
.primary-gradient-bg {
  background: linear-gradient(270deg, #4D80E6 0%, #8B6AA3 34.38%, #BD4D61 69.7%, #C00 100%);
}
.bg-color-3 {
  border-color: #f5f5f5;
}
.primary-color {
  color: #050505 !important;
}
.secondary-color {
  color: #ffffff;
}
.grey-color-v1 {
  color: #333333;
}
.color-navy {
  color: #4C5776;
}
.color-grey-5 {
  color: #333333;
}
h1 {
  font-size: 48px;
  font-family: 'Roboto-Bold';
  color: #ffffff;
}
h1.secondary-heading-size {
  font-size: 60px;
}
h2 {
  font-size: 34px;
  font-family: 'Roboto-Bold';
  color: #050505;
}
h3 {
  font-size: 32px;
  font-family: 'Roboto-Bold';
  color: #050505;
}
h4 {
  font-size: 24px;
  font-family: 'Roboto-Bold';
  color: #050505;
}
.font-regular {
  font-family: 'Roboto';
}
.font-bold {
  font-family: 'Roboto-Bold';
}
.font-semibold {
  font-family: 'Roboto-semibold';
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-24 {
  font-size: 24px;
}
.font-28 {
  font-size: 28px;
}
.font-30 {
  font-size: 30px;
}
.font-32 {
  font-size: 32px;
}
.font-34 {
  font-size: 34px;
}
.font-36 {
  font-size: 36px;
}
.font-42 {
  font-size: 42px;
}
.font-44 {
  font-size: 44px;
}
.font-46 {
  font-size: 46px;
}
.font-48 {
  font-size: 48px;
}
.font-60 {
  font-size: 60px;
}
.custom-form {
  border: 1px solid #8F9093;
  border-radius: 0px;
  padding: 16px;
}
.custom-form::placeholder {
  color: #BCBCBE;
}
.custom-tabs button {
  font-size: 20px;
  color: #050505 !important;
}
.cfs-careers-list li {
  color: #000000;
}
.custom-check {
  height: 20px !important;
  width: 20px !important;
  border-color: #8F9093 !important;
}
.custom-check:checked {
  background-color: #cc0000 !important;
  border-color: #cc0000 !important;
}
.cursor-pointer {
  cursor: pointer;
}
.custom-acc.collapsed .custom-accordion-arrow {
  transform: rotate(180deg);
}
.home-banner-bottom-text {
  line-height: 30px;
}
p.footer-heading {
  color: #000;
}
button,
.header-button {
  background-color: #cc0000;
  color: #ffffff;
  padding: 8px 25px;
  font-size: 15px;
  font-family: 'Roboto-Bold';
  border: 2px solid #cc0000;
}
button:hover,
.header-button:hover {
  background-color: #fff;
  color: #cc0000;
}
.primary-outline-btn {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}
.primary-outline-btn:hover {
  color: #fff;
  border: 1px solid #cc0000;
  background-color: #cc0000;
}
@media (max-width: 991px) {
  div#navbarSupportedContent {
    height: 100vh;
  }
}
@media (max-width: 1025px) {
  .banner-description {
    font-size: 16px !important;
  }
  .custom-carousel-indicators {
    right: -235px !important;
  }
  .carousel-head {
    font-size: 32px !important;
  }
  .banner-text {
    font-size: 16px !important;
  }
}
@media (max-width: 767px) {
  .custom-carousel-indicators {
    right: -185px !important;
  }
}
.padding-0 {
  padding: 0;
}
.secondary-btn {
  color: #ffffff;
  padding: 8px 25px;
  font-size: 15px;
  font-family: 'Roboto-Bold';
  background-color: transparent;
  border: 1px solid #fff;
}
.footer-link {
  font-size: 12px;
}
.footer-heading {
  font-size: 14px;
  font-family: 'Roboto-Bold';
}
.banner-description {
  color: #ffffff;
  font-size: 20px;
}
.cfs-nav-item {
  color: #050505 !important;
  font-size: 24px !important;
}
.nav-item.custom-nav-item {
  margin-right: 32px;
}
.cfs-list {
  padding: 0 !important;
  list-style: none !important;
}
.cfs-list li a {
  text-decoration: none;
  color: #050505 !important;
  font-size: 12px;
}
.footer-heading {
  margin-bottom: 12px !important;
}
.linked-icon {
  width: 19.5px;
  height: 16px;
}
.cfs-logo {
  width: 219px;
  height: 67px;
}
a.cfs-nav-item:hover,
.cfs-list li a:hover {
  color: #cc0000 !important;
}
.home-banner-height {
  height: 550px;
}
.obj-fit-cover {
  object-fit: cover;
}
.custom-carousel-indicators {
  transform: rotate(90deg) !important;
  left: auto !important;
  bottom: 53% !important;
  right: -340px;
  column-gap: 24px;
}
.custom-carousel-indicators [data-bs-target] {
  width: 80px !important;
  height: 5px !important;
  opacity: 1 !important;
}
.custom-carousel-indicators .active {
  background-color: #cc0000 !important;
}
.custom-carousel-caption {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.nav-item.active a {
  border-bottom: 5px solid #cc0000;
}
a.dropdown-item.nav-dropdown-item {
  border-bottom: none !important;
}
.dropdown-toggle::after {
  background-image: url("../images/dropdwon-arrow.svg");
  height: 12px;
  width: 15px;
  border: 0 !important;
  background-repeat: no-repeat;
  background-size: 14px;
  vertical-align: middle;
}
.custom-dropdown {
  border-radius: 0 !important;
  padding: 0 !important;
  top: 97% !important;
}
.header-menu {
  width: 254px;
}
.custom-tabs {
  border-bottom: 1px solid #bcbcbe;
}
.custom-tabs .nav-link {
  font-family: 'Roboto';
  color: #050505;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding: 12px 53px;
}
.custom-tabs .nav-link.active {
  border-bottom: 5px solid #cc0000;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background-color: unset;
  font-family: 'Roboto-Bold';
}
.custom-tabs .nav-link.active:hover {
  border-bottom: 5px solid #cc0000;
}
.custom-tabs .nav-link:hover {
  background-color: #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #bcbcbe;
}
.banner-text-career {
  padding-left: 190px;
}
.banner-height {
  height: 510px;
}
@media (max-width: 1025px) {
  .cfs-nav-item {
    font-size: 16px !important;
  }
  .nav-item.custom-nav-item {
    margin-right: 16px !important;
  }
}
@media (max-width: 1350px) {
  .cfs-logo {
    width: 200px;
    height: 67px;
  }
  .cfs-nav-item {
    font-size: 16px !important;
  }
  .nav-item.custom-nav-item {
    margin-right: 12px !important;
  }
  button {
    padding: 10px 15px;
  }
}
@media (max-width: 992px) {
  .nav-item.custom-nav-item {
    display: inline;
    margin-bottom: 18px;
  }
  .nav-item.custom-nav-item a {
    display: inline-block;
  }
  .header-button {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .custom-tabs .nav-link {
    padding: 12px 15px;
  }
  .navbar-nav li.custom-nav-item a {
    line-height: normal !important;
  }
}
.section-img {
  height: 480px;
  object-fit: cover;
  object-position: top;
}
.custom-nav-item .cfs-nav-item {
  line-height: 55px !important;
}
.nav-dropdown-item {
  line-height: normal !important;
  padding: 8px 10px;
}
.nav-dropdown-item-active {
  font-family: 'Roboto-Bold';
  background-color: #e8e8e8;
}
.custom-dropdown-divider {
  margin: 0 !important;
}
.blue-gradient {
  color: #667abb;
}
.check-mark {
  margin-right: 16px;
}
.divider-career {
  border-bottom: 1px solid #bcbcbe;
}
.card-career {
  width: 369px;
  min-height: 300px;
  padding: 40px 32px 0px 32px;
}
.core-values-card img {
  width: 86px;
  height: 86px;
}
.left-c-and-right-i-sec-spacing h2,
.left-i-and-right-c-sec-spacing h2 {
  color: #333333;
}
.border-0.border-end.core-values-card {
  border-right: 1.5px solid #BCBCBE !important;
}
.custom-top-border {
  border-top: 1.5px solid #BCBCBE;
}
.cfp-banner-btn {
  width: 210px;
}
@media (min-width: 1025px) {
  .left-c-and-right-i-sec-spacing h2,
  .left-i-and-right-c-sec-spacing h2 {
    font-size: 32px;
  }
  .left-c-and-right-i-sec-spacing {
    padding: 0px 40px 0px 140px;
  }
  .left-i-and-right-c-sec-spacing {
    padding: 0px 140px 0px 60px;
  }
  #carrer-page {
    backgrounD-color: #F5F5F5;
  }
}
@media (max-width: 1025px) {
  .left-c-and-right-i-sec-spacing {
    padding: 0px 20px 0px 20px;
  }
  .left-i-and-right-c-sec-spacing {
    padding: 0px 20px 0px 20px;
  }
  #custom-navbar button.navbar-toggler,
  #custom-navbar button.navbar-toggler:hover {
    border: 0 !important;
    background: transparent;
  }
  .custom-sm-container-spacing {
    padding: 15px 25px;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .custom-img-size {
    height: 530px;
  }
  span.md-line-breaker {
    display: block;
  }
}
@media (max-width: 767px) {
  .address-details {
    margin-top: 32px;
  }
  .custom-tab-content {
    margin-top: 20px;
  }
  .banner-text-career {
    padding-left: 50px;
  }
  .font-48 {
    font-size: 32px;
  }
  .font-34 {
    font-size: 24px;
  }
  h2 {
    font-size: 24px;
  }
  h1.heading-secondary-size {
    font-size: 32px;
  }
  .custom-nav-item .cfs-nav-item {
    line-height: normal !important;
  }
  .left-c-and-right-i-sec-spacing,
  .left-i-and-right-c-sec-spacing {
    padding: 35px 20px 25px 8px;
  }
  .full-width-sm {
    width: 100%;
  }
  .carousel-caption.custom-carousel-caption {
    right: 11%;
    left: 11%;
  }
  .home-banner-bottom-text {
    line-height: 24px;
  }
  .custom-img-size {
    height: 260px;
  }
  .custom-sm-p-sec-font {
    font-size: 16px;
  }
  .custom-tabs .nav-link {
    line-height: 16px;
    font-size: 14px;
  }
  .header-menu {
    width: 100%;
  }
  span.navbar-toggler-icon {
    background-image: url(../images/custom-menu-icon.svg);
  }
  .custom-header-bg {
    background-color: #e8e8e8;
  }
  .border-0.border-end.sm-border {
    border-right: none !important;
  }
  .left-right-sec-img img {
    height: 300px;
  }
  .contact-cta-sm span {
    display: block;
  }
  .custom-card-direction {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
  }
  .card-career {
    width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1360px) {
  .custom-carousel-indicators {
    right: -250px !important;
  }
}
.custom-career-tooltip-content {
  position: absolute;
  width: 40%;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 22px;
  display: none;
}
.custom-career-tooltip {
  cursor: pointer;
}
.custom-nav-item:hover .custom-dropdown {
  display: block;
}
.custom-career-tooltip:hover .custom-career-tooltip-content {
  display: block;
}
/*Privacy pages styles starts here */
.vertical-align-middle {
  vertical-align: middle;
}
li::marker {
  font-size: 12px;
}
ul ul {
  list-style-type: disc;
}
.custom-privacy-table {
  border-color: #8F9093;
}
.w-20 {
  width: 20%;
}
.privacy-anchor-style {
  color: #667ABB;
  font-weight: 700;
  text-decoration: none;
}
/*Privacy pages styles Ends here */
.custom-form-text {
  color: #cc0000;
}
