@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto-bold-webfont.eot');
  src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-bold-webfont.woff2') format('woff2'), url('../fonts/roboto-bold-webfont.woff') format('woff'), url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-semibold';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@media (max-width: 767px){
.dealer-financing-banner img {
    height: 90vh;
}
.second-heading{
  font-size: 16px;
}
/* .number-list-row{
  padding: 0px 20px;
} */
}
@media (min-width: 1024px){
.inventory-finance-section-img{
  height:577px;
}
}

.number-list-style{
  position: relative;
  color:  #4C5776;
  font-size: 45px;
  font-weight: 600;
}
.number-list-style:after{
  content: "";
  position: absolute;
  width:2px;
  height:30px;
  background-color: #4C5776;
  right: 0px;
  top:20px;
}
@media(max-width:767px){
.number-list-section{
  padding: 0px 33px;
}

.testimonial-para-font{
  font-size: 16px;
}
}
@media(min-width:376px) and (max-width:767px){
.number-list-style{
  padding-right: 25px !important;
  display: flex !important;
  align-items: center;
  }
  .number-list-style:after{
    top: 43px;
  }
}
.testimonial-image{
  height: 88px;
  width: 88px;
}
.testimonial-section{
  border-radius: 24px !important;
  background: rgba(232, 232, 232, 0.81);
}
.testimonial-gradient-bg{
  background:linear-gradient(270deg, rgba(77, 128, 230, 0.80) 0%, rgba(139, 106, 163, 0.80) 34.38%, rgba(189, 77, 97, 0.80) 69.7%, rgba(204, 0, 0, 0.80) 100%);
}
.carousel-border-bottom {
  position: relative;
  /* border-bottom: 1.5px solid #BCBCBE !important;
  border-width: 20px; */
}
.carousel-border-bottom:after {
  content: '';
  position: absolute;
  background-color: #667ABB;
  display: block;
  /* transform: rotate(90deg); */
  width: 319px;
  height: 1px;
  left: 80px;
  bottom:-11px;
} 
.custom-carousel-contol.carousel-control-next, .custom-carousel-contol.carousel-control-prev{
  display: none;

}
.custom-testimoniol-carousel-indicators{
  margin-bottom: -10px;
  
}
.custom-testimoniol-carousel-indicators button{
  width: 10px !important;
  height: 10px !important;
  border-radius: 60px;
  border-top: unset !important;
  border-bottom: unset !important;
  opacity: unset !important;
  margin-right: 10px !important;
 
}
.custom-testimoniol-carousel-indicators .active{
  background-color: #667ABB !important;
}
/* .custom-carousel-inner{
  justify-content: space-around;
  display: flex;
} */
@media(max-width:767px){
.custom-mobile-col-direction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin:0px 50px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.carousel-border-bottom:after { 
  width: 250px;
  height: 1px;
  left: -1px;
  bottom:-10px;
} 
.testimonial-row{
  justify-content: space-around;
  display: flex;
  width:80%;
}

}

@media (min-width:768px) and (max-width:1023px){
  .testimonial-row{
    justify-content: space-around;
    display: flex;
    width:80%;
  }
}


