@font-face {
	font-family: 'proximanova-regular';
	 src: url('../fonts/proximanova-regular.woff') format('woff');
  }
  
  @font-face {
	font-family: 'proximanova-semibold';
	 src: url('../fonts/proximanova-semibold.woff') format('woff');
  }
  @font-face {
	font-family: 'proximanova-bold';
	 src: url('../fonts/proximanova-bold.woff') format('woff');
  }
  @font-face {
	font-family: 'proximanova-medium';
	 src: url('../fonts/proximanova-medium.woff') format('woff');
  }
  @font-face {
	font-family: 'proximanova-italic';
	 src: url('../fonts/proximanova-italic.woff') format('woff');
  }

.font-bold{
    font-family: 'proximanova-bold';
}
.font-semibold{
    font-family: 'proximanova-semibold';
} 
.font-regular{
    font-family: 'proximanova-regular';
}  
.font-medium{
    font-family: 'proximanova-medium';
} 
.font-24{
    font-size: 24px;
}   
.font-20{
    font-size: 20px;
}
.font-18{
    font-size: 18px;
}
.font-16{
    font-size: 16px;
}
.theme-color{
    color: #441BC3;
}
.theme-color-bg{
    background-color: #F3F9FF;
}
.required{
    color: #FF6060;
}